<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First EJS Frontend</title>
</head>
<body>

    <!-- EJS way to calculate inside html -->
    <%= 2+2 %>  
    <h1>Hello Shamwil</h1>
</body>
</html>